/*navbar-dark .navbar-nav .nav-link {
    font-size: 30px;
    font-family: fantasy;
    color: rgba(255,255,255,.55);
}*/

.size {
    font-size: 30px;
    font-family: fantasy;
    color: rgba(255,255,255,.55);
    padding-left: 20px;
}