.size {
    font-size: 30px;
    font-family: fantasy;
    color: rgba(255,255,255,.55);
    padding-left: 20px;
}

.navbar{
    background-color: aqua;
}

  
.navbar-custom {
    background-color: rgb(7, 7, 7);
   
}