html, body {
    background: #e3e3d8;
    font-family: sans-serif;
    padding: 20px;
}
.wrapper {
    width: 220px;
    height: 400px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
    width: 100%;
    height: 100%;
}
.wrapper .container .top {
    height: 75%;
    width: 100%;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.wrapper .container .bottom {
    width: 200%;
    height: 25%;
    transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
    transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
}
.wrapper .container .bottom p {
    margin: 0;
    padding: 0;
}
.wrapper .container .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}
.wrapper .container .bottom .left .details {
    padding: 15px;
    float: left;
    width: calc(70% - 40px);
}
.wrapper .container .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #254053;
    transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
    background: #a6cdde;
}
.wrapper .container .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394b;
}
.wrapper .container .bottom .right {
    width: 50%;
    background: #a6cdde;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
}
.wrapper .container .bottom .right .details {
    padding: 20px;
    float: right;
    width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
}
.wrapper .container .bottom .right .done i {
    font-size: 30px;
    margin-top: 20px;
    padding: 15px;
    color: white;
}

.wrapper .container .bottom .right .remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 60%;
    background: #bc3b59;
    transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
    background: #9b2847;
}
.wrapper .container .bottom .right .remove:hover i {
    transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
    transition: transform 0.5s;
    font-size: 30px;
    margin-top: 20px;
    padding: 15px;
    color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom  .right:hover .done  {
    transform: translateY(-100%);
}


.title{
    height: 50px;
}